@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background: url(../img/banner-servicios.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    text-align: center;
}

header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease; 
}

.img-logo, img {
    width: 100px;
    height: 100px;
}

header .navigation {
    position: relative;
}

header .navigation-items a {
    position: relative;
    color: #ffffff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navigation-items a::before {
    content: '';
    position: absolute;
    background: #ffffff;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation-items a:hover::before {
    width: 100%;
    
}

/***************MAIN****************/

.main {
    background-color: rgba(1, 1, 1, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
}

.banner {
    width: 100%;
    height: 100%;
}

.banner-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 150px 75px;
}

.banner-content a {
    color: #ffffff;
    text-decoration: none;

}

.banner-title {
    text-align: center;
    padding: 10px;
}

.banner-title h2 {
    font-size: 1.3em;
    text-transform: uppercase;
}

.banner-title p {
    font-size: 1em;
    font-weight: 300;
}

.banner-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.banner-element {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    background-color: rgba(1, 1, 1, 0.5);
    padding: 20px;
}

.banner-element:hover {
    background-color: rgba(1, 1, 1, 0.7);
    box-shadow: 0 5px 25px rgba(1, 1, 1, 20%);
    cursor: pointer;
}

.banner-element-h2 {
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
}

.banner-element-h3 {
    font-size: 1em;
    font-weight: 300;
}

.banner-element-h2, .banner-element-h3 {
    flex: 1;
}

.banner-steps {
    flex: 2;
}

.banner-steps li {
    list-style: none;
    font-size: 1em;
    font-weight: 300;
    text-align: left;
}


@media (max-width: 1000px) {
    header {
        padding: 12px 20px;
        width: 100%;
        z-index: 9999;
    }

    section {
        padding: 100px 20px;
        }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(1, 1, 1, 0.5s);

    }

    header .navigation .navigation-items a {
        color: #fff;
        font-size: 1.2em;
        margin: 20px;
    }

    header .navigation .navigation-items a::before {
        background: #fff;
        height: 2px;
    }

    header .navigation.active .navigation-items {
        background: rgba(1, 1, 1, 0.9);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        left: 0;
        position: fixed;
        top: 0;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgba(1, 1, 1, 20%);
    }

    .menu-btn {
        background: url(../img/menuw.png) no-repeat;
        background-size: 40px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn.active {
        z-index: 999;
        background: url(../img/close.png) no-repeat;
        background-size: 30px;
        background-position: center;
        transition: 0.3s ease;
    }

    /*banner*/

    .banner-content {
        flex-direction: column;
        padding: 50px 20px;
    }

    .banner-element {
        flex-direction: column;
        padding: 20px;
    }


}